<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>습관 추가</title>
    <link rel="stylesheet" href="/login.css" type="text/css" />
</head>
<body>
    <div class="container">
        <h1>습관 추가</h1>
        <form action="" method="post">
            <p>
                <input type="text" name="name" value="" placeholder="습관명" />
            </p>
            <p>
                <input type="text" name="start_date" value="" placeholder="시작일" />
            </p>
            <p>
                <input type="text" name="end_date" value="" placeholder="종료일" />
            </p>
            <button type="submit">저장</button>
        </form>
    </div>
</body>
</html>