<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>로그인</title>
    <link rel="stylesheet" href="/style.css" type="text/css" />
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        document.querySelector("form").addEventListener("submit", validateForm);
      });
      function validateForm(event) {
        event.preventDefault();
        const email = document.querySelector('input[name="email"]').value;
        const password = document.querySelector('input[name="password"]').value;
        const emailPattern = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-z]{2,4}$/;
        if (!emailPattern.test(email)) {
          alert("올바른 이메일 형식을 입력하세요.");
          return;
        }
        if (password.length < 6) {
          alert("비밀번호는 최소 6자 이상이어야 합니다.");
          return;
        }
        document.querySelector("form").submit();
      }
      document.querySelector("form").addEventListener("submit", validateForm);
    </script>
  </head>
  <body>
    <div class="container small">
      <h1>로그인</h1>
      <form action="" method="post">
        <figure>
          <p>
            <label>Email: </label>
            <input type="text" name="email" value="" placeholder="이메일" />
          </p>
          <p>
            <label>PW: </label>
            <input
              type="password"
              name="password"
              value=""
              placeholder="비밀번호"
            />
          </p>
          <button type="submit">로그인</button>
          <a href="/register">회원가입</a>
        </figure>
      </form>
    </div>
  </body>
</html>
