<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>회원가입</title>
    <link rel="stylesheet" href="/login.css" type="text/css" />
  </head>
  <body>
    <div class="container">
      <h1>회원가입</h1>
      <form action="" method="post">
        <figure>
          <p>
            <label>Name: </label>
            <input type="text" name="name" value="" placeholder="이름" />
          </p>
          <p>
            <label>Email: </label>
            <input type="text" name="email" value="" placeholder="이메일" />
          </p>
          <p>
            <label>PW: </label>
            <input type="password" name="pw" value="" placeholder="비밀번호" />
          </p>
          <button type="submit">회원가입</button>
        </figure>
      </form>
    </div>
  </body>
</html>
